GAEO_FORMS_LISTEN=127.0.0.1:8787
GAEO_FORMS_ALLOWED_ORIGINS=https://gaeo.ru,https://www.gaeo.ru,https://gaeo-ru.github.io
GAEO_FORMS_SMTP_HOST=smtp.yandex.ru
GAEO_FORMS_SMTP_PORT=587
GAEO_FORMS_SMTP_USER=gaeo@gaeo.ru
GAEO_FORMS_SMTP_PASSWORD=CHANGE_ME
GAEO_FORMS_FROM=gaeo@gaeo.ru
GAEO_FORMS_TO=ya@gaeo.ru
